<h2> New Profile </h2>

<form action= "/create_profile">
  <input type = 'text' name = 'name' placeholder = 'name'>
  <input type = 'text' name = 'title' placeholder = 'title'>
  <input type = 'text' name = 'picture' placeholder = 'picture'>
  <input type = 'text' name = 'text' placeholder = 'text'>
  <input type = 'text' name = 'location' placeholder = 'location'>
  <input type = "submit">
</form>

  